#OLLAMA CONFIGURATION
MODEL_NAME = "YOUR MODEL NAME"
VISION_MODEL_NAME = "YOUR VISION MODEL NAME"
HISTORY_LIMIT = 15
SYSTEM_PROMPT="YOUR SYSTEM PROMPT"
LOCALHOST = "http://localhost:11434" 

#DISCORD CONFIGURATION
DISCORD_TOKEN = "YOUR BOT TOKEN"

#OS CONFIGURATION
JSON_PATH = "permissions.json"